@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

a{
    text-decoration: none;
    color: aqua;
}
body{
    background: linear-gradient(14deg, #00CEC7 0%, #B5009E 100%);
    font-family: Ubuntu, serif;
}

.nav-link{
    color: aqua;
}

.nav-link:hover{
color: antiquewhite;
}

.navbar-nav .nav-link.active{
    color: rgb(174, 9, 189);
}

.navbar-brand img{
    width:40px;
}

.nav-link dropdown-toggle:hover{
    color:antiquewhite;
}

.navbar-toggler{
    background: linear-gradient(50deg, #B5009E 0%, rgb(17, 189, 219) 50%, #B5009E 100%);
    padding: 3px;
}

.navbar-toggler:hover{
    transform: scale(1.06);
}

.sidebar{
    color: aqua;
    background: linear-gradient(50deg, #B5009E 0%, rgb(0, 0, 0) 50%, #B5009E 100%);
    border-radius: 20px;
}

.card{
    color: aqua;
    background: linear-gradient(50deg, #B5009E 0%, rgb(0, 0, 0) 50%, #B5009E 100%); 
}

.slide-text{
    color: aqua;
    margin: auto;
}

.footer-text{
    color: rgb(174, 9, 189);
}

footer{
    background-color: black;
}

.footer-links p{
    color:#B5009E;
}

.footer-links p:hover{
    color: antiquewhite;
}

.media-links{
    display:flex;
    justify-content: center;
    align-items: center;
}

.phone-anim{
    animation: Phone 2s ease 0s infinite normal forwards;
}

@keyframes Phone {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}

.btn-primary{
    color: aqua;
    background: linear-gradient(50deg, #B5009E 0%, rgb(0, 0, 0) 50%, #B5009E 100%); 
}

@media (max-width:755px) {
    .carousel-indicators{
        display:none;
    }
}